<div class="wrapper-block">
  <div class="form-block">
    <div class="input-block">
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        name="password"
        placeholder="Your password"
        [(ngModel)]="password"
        (input)="updateStrength()"
      />
      <span class="eyeicon" (click)="showPassword = !showPassword">
        <mat-icon>{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </span>
    </div>
    <div class="password-strength">
      <div
        class="strength-section"
        [ngClass]="{
          red: passwordStrength === 'short' || passwordStrength === 'weak',
          yellow: passwordStrength === 'medium',
          green: passwordStrength === 'strong'
        }"
      ></div>
      <div
        class="strength-section"
        [ngClass]="{
          red: passwordStrength === 'short',
          yellow: passwordStrength === 'medium',
          green: passwordStrength === 'strong'
        }"
      ></div>
      <div
        class="strength-section"
        [ngClass]="{
          red: passwordStrength === 'short',
          green: passwordStrength === 'strong'
        }"
      ></div>
    </div>
    <p>
      {{
        !password
          ? "Enter your password"
          : passwordStrength === "short"
          ? "Your password is too " + passwordStrength
          : "Your password is " + passwordStrength
      }}
    </p>
  </div>
</div>
