.wrapper-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-block {
  position: relative;
  width: 250px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
}

input:focus {
  outline: none;
  border-color: gray;
}

label {
  font-weight: 700;
}

.eyeicon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 24px;
  background-color: #fff;
  padding-left: 5px;
}

.password-strength {
  display: flex;
}

.strength-section {
  width: 50px;
  height: 10px;
  margin-right: 5px;
  background-color: gray;
}

p {
  font-weight: bold;
  margin: 0;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
